# Node.js dependencies
node_modules/

# Environment variables
.env

# pdf reports
*.pdf
reports/

# Optional: Ignore build or temp files
dist/
build/
tmp/
.cache/

# VSCode settings (optional)
.vscode/

# Mac system files
Icon?

# Lock files
package-lock.json
yarn.lock
